@font-face {
  font-family: 'Nunito';
  src:  url(./Nunito-Regular.ttf);
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src:  url(./Nunito-Black.ttf);
  font-display: block;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src:  url(./Nunito-Bold.ttf);
  font-display: block;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src:  url(./Nunito-ExtraBold.ttf);
  font-display: block;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src:  url(./Nunito-ExtraLight.ttf);
  font-display: block;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src:  url(./Nunito-Light.ttf);
  font-display: block;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src:  url(./Nunito-SemiBold.ttf);
  font-display: block;
  font-weight: 600;
  font-style: normal;
}
